<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sell Carbon Credits</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;          
            margin: 0;
        }
        div{
            background-color: None;
            width: 400px;
            height: 300px;
            text-align: center;
            box-shadow: black 0px 0px 20px;
            border-radius: 8px;

        }
    </style>
</head>
<body>
    <h4>
    <div>
    <br><br><br><br><br>
    <h3><b>{{msg}}</b></h3>    
    <span>
    <a id="a1" href="/">Back to Sell Carbon Credits</a>
    <br><br>
    <a id="a2" href="https://ladhaanay.wixsite.com/terracred" target="_top">Back to Home</a>
    </span>
    </h4>
    </div>
</body>
</html>
